* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-image: url('/src/components/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .to-do {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
    align-items: center;
  }

  .to-do-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
  }

  .to-do-container > h1 {
    color: #323169;
    font-size: 100px;
    font-family: 'VT323', monospace;
    margin-top: 10px;
  }

  .to-do-container p {
    margin-top: 200px;
    color: #8c8c8c;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
  }

  .to-do-container > video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0%;
    z-index: -1;
  }
  .to-do-btns{
    margin-top: 20px;
  }

  .to-do-btns .btn{
    margin: 6px;
  }

  .red-wolf > h1{
    color: #7a481f;
    font-size: 70px;
    font-family: 'VT323', monospace;
    margin-top: -70px;
  }

  .polar-bear > h1{
    color: #446e73;
    font-size: 70px;
    font-family: 'VT323', monospace;
    margin-top: -70px;
  }

  .snow-leo > h1{
    color: #5b8aaf;
    font-size: 70px;
    font-family: 'VT323', monospace;
    margin-top: -70px;
  }
  .not-built> h1{
    color: #323169;
    font-size: 70px;
    font-family: 'VT323', monospace;
    margin: 50px;
    margin-top: -10px;
    margin-bottom: 300px;
  }
    
  .sign-up {
    background-image: url('/src/components/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  @media screen and (max-width:960px) {
    .not-built> h1 {
        font-size: 70px;
        margin-top: -20px
    }
}

@media screen and (max-width: 768px) {
    
    .not-built> h1{
        font-size: 55px;
        margin-top: 10px;
        margin-bottom: 250px;
    }

}