.map-selected {
    fill: #d59666;
}
  
.map-unselected {
    fill: #a0dce6;
}

.map-selected:hover, .map-unselected:hover {
    cursor: pointer;
}

.map-container {
    background-color: #d8f0fa;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.map-container .map-img {
    max-width: 100%;
}

.map-container > h1 {
    color: #323169;
    font-family: 'VT323', monospace;
    font-size: 100px;
    margin: 50px;
}

@media screen and (max-width:960px) {
    .map-container > h1 {
        font-size: 70px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .map-container .map-img {
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {
    .map-container > h1 {
        font-size: 60px;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .map-container > p {
        font-size: 30px;
    }

}  